.post {
  background: var(--current-line);
  box-shadow: 0 0 15px var(--background);
  transition: transform 100ms ease-in-out;
}
.post:hover {
  transform: scale(1.01);
}

.post img {
  max-width: 100%;
}

.post-content {
  padding: 15px;
}